<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/helpers.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>

    <div class='header'>
      <div class='headerText'>Yipit Oscar Winners</div>
    </div>

    <div class='commentBox'>
      <div class='methodBox'>
        <div class='methodHeader'>Methodology Notes:</div>
        <div>* Orig. = data from API, Mod. = processed data</div>
        <div>1. Movie years had excess whitespaces and parentheses/bracket content removed</div>
        <div>2. Movie titles had trailing whitespaces and content in brackets removed</div>
        <div>3. Unavailable movie budget are shown as "N/A"</div>
        <div>4. Movie budgets (set to middle of range) are defaulted or converted to USD</div>
        <div>5. Final budgets are adjusted for inflation between Jan. of award/current year</div>
        <div>6. (If applicable) Final budgets are converted at current Jan exchange rate</div>
        <div>7. Average budget is calculated with final budgets (inflation/currency adjusted)</div>
        <div>8. Years with unavailable budgets are not included in average budget calculation</div>
      </div>
      <div class='methodBox'>
        <div class='budgetBox'>
          <div class='comparisonHeader'>Average budget (2016 USD)</div>    
          <div class='budgetBody'>-</div>
        </div>
        <div class='excludeBox'>
          <div class='comparisonHeader'>Excluded movies</div>    
          <div class='excludeBody'></div>
        </div>
      </div>
    </div>

    <div id="main"></div>
    
    <script>
      $(document).ready(function() {
        $.get("/fetchData", function(data, status){

          var totalBudget = 0;
          var numCompanies = 0;
          var skipList = [];

          //Add table header elements
          $('#main').append(
            $('<div class="tableRow">').append(
              $('<div class="shortHeader headerBox">').text("Orig. Year"),
              $('<div class="shortHeader headerBox"> ').text("Mod. Year"),
              $('<div class="longHeader headerBox">').text("Orig. Movie Name"),
              $('<div class="longHeader headerBox">').text("Mod. Movie Name"),
              $('<div class="medHeader headerBox">').text("Orig. Budget"),
              $('<div class="medHeader headerBox">').text("Mod. Budget"),
              $('<div class="medHeader headerBox">').text("2016 USD $")
            )
          );

          //Add table row elements
          data.forEach((elem) => {

            if (elem.modBudget) {
              numCompanies++;
              totalBudget += elem.convertBudget;
            } else {
              skipList.push(elem.modMovie);
            }

            $('#main').append(
              $('<div class="tableRow">').append(
                $('<div class="shortHeader smallFont headerBox">').text(JSON.stringify(elem.origYear)),
                $('<div class="shortHeader smallFont headerBox"> ').text(JSON.stringify(elem.modYear)),
                $('<div class="longHeader smallFont headerBox">').text(JSON.stringify(elem.origMovie)),
                $('<div class="longHeader smallFont headerBox">').text(JSON.stringify(elem.modMovie)),
                $('<div class="medHeader smallFont headerBox">').text(JSON.stringify(elem.origBudget)),
                $('<div class="medHeader smallFont headerBox">').text(addCommas(JSON.stringify(elem.modBudget))),
                $('<div class="medHeader smallFont headerBox">').text(addCommas(JSON.stringify(elem.convertBudget)))
              )
            );
          });

          //Add average budget and exclusions
          $('.budgetBody').text(addCommas(Math.round(totalBudget/numCompanies)));
          
          var temp = skipList.map((elem)=>{
            return $('<div>').text(elem)  
          })
          $('.excludeBody').append(temp);

        });
      });
    </script>

  </body>
</html>